<div class="list-group mt-3" style="border-style: solid; border-width: 3px; border-color: rgb(235,235,235); width: 250px;" xmlns:th= "http://www.thymeleaf.org">
    <p class="list-group-item list-group-item-action" style="font-size: large; color: white; background-color: rgb(21, 97, 69)" th:text="#{categories}"></p>
    <a th:href="@{'/all_items'}" class="list-group-item list-group-item-action" style="font-size: large; color: black" th:text="#{a.all_items}"></a>
    <a th:href="@{'#'}" class="list-group-item list-group-item-action" style="font-size: large; color: black" th:text="#{a.smartphonesGadgets}"></a>
    <a th:href="@{'#'}" class="list-group-item list-group-item-action" style="font-size: large; color: black" th:text="#{a.TV_Audio_Video}"></a>
    <a th:href="@{'#'}" class="list-group-item list-group-item-action" style="font-size: large; color: black" th:text="#{a.games}"></a>
    <a th:href="@{'#'}" class="list-group-item list-group-item-action" style="font-size: large; color: black" th:text="#{a.other}"></a>
</div>